button {
  margin-top: 27px;
  margin-left: 14px;
  font-size: 15px;
  border-radius: 20px;
  color: indigo;
  height: 54px;
  width: 108px;
  background: bottom;
  cursor: pointer;
  font-family: "Chelsea Market", cursive;
  font-weight: 400;
}
